# --- Unity Default ---
[Library]/
[Temp]/
[Obj]/
[Build]/
[Builds]/
[Logs]/
[MemoryCaptures]/
[UserSettings]/

# --- Assets & Plugins ---
# Ignore le dossier de référence (Ancien code)
/ReferenceSource/

# Ignore les assets importés par erreur ou volumineux
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*

# --- IDE & OS ---
.vs/
.gradle/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.slnx

# --- Unity Generated ---
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
Crashlytics/

# --- Secret API Keys (DO NOT REMOVE) ---
/[Aa]ssets/SecretSettings.asset
/[Aa]ssets/SecretSettings.asset.meta
/[Aa]ssets/**/SecretSettings.asset
/[Aa]ssets/**/SecretSettings.asset.meta


# --- Mobile specific ---
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

# --- Git specifics ---
.DS_Store
Thumbs.db
